.line{
    width:115px;
}

#username, #password{
    width: 30%;
}

.logo:hover{
    cursor:pointer;
}

.submit{
    color: white;
    position: relative;
    width: 30%;
    left:55%;
    height: fit-content;
    background: #056676;
    border-radius: 10px;
}

.google_signup {
    position: relative;
    width: 30%;
    float: left;
    margin-left: 15%;
    height: 21px;
    vertical-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 5%;
}

.fb_signup{
    position: relative;
    width: 30%;
    float: right;
    margin-right: 15%;
    height: 21px;
    vertical-align: center;
    background: #1877F2;
    border-radius: 10px;
    margin-bottom: 5%;
    }

.submit:hover, .google_signup:hover, .fb_signup:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* Display for mobile phones */
    .form-div {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    /* Display for mobile phones */
    #fb_signup, #google_signup{
        width: 60%;
    }
}