/* Classes for like button*/
#like1, #like2, #like3, #like4, #like5, #like6, #like7, #like8, #like9, #like10, #like11, #like12, #like13, #like14, #like15{
    cursor: pointer;
  }

#filled_like1, #filled_like2, #filled_like3, #filled_like4, #filled_like5, #filled_like6, #filled_like7, #filled_like8, #filled_like9, #filled_like10, #filled_like11, #filled_like12, #filled_like13, #filled_like14, #filled_like15{
    display: none;
    cursor: pointer;
    position: relative;
}


/*Playlist info content*/
.grid-cont {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px 50px 100px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
}
  
.grid-cont > div {
    text-align: left;
}

.artist-picture{
    height: 150px;
    width: 150px;
    grid-row: 1 / span 3;
}

.playlist-name{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
}

.playlist-artist{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}

/*Main page content*/
.main-pl {
    background-color: #E6DDC4;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.grid-container-s {
    display: grid;
    grid-template-columns: 50px auto 20px;
    padding-bottom: 5%;
    margin: 10px;
}

.grid-container-s > div {
    text-align: left;
}

/*Cover image*/
.cover-s{
    width:50px; 
    height:50px;
}

.cover-s:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*Name and Author of the song*/
.info-s-grid{ 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px auto;
}

.song-name-pl {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.song-artist-pl {
    margin-left: 10px;
    font-size: 13px;
}

/*Menu layout*/
.menu-song {
    margin-top: 10px;
    text-align: right;
    position: relative;
    display: inline-block;
}
  
.dropdown-content-s {
    display: none;
    position: absolute;
    right: 0;
    bottom: 50px;
    background-color: #5EAAA8;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content-s a {
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content-s a:hover {background-color: #056676;}
 /* 
.menu-song:hover .dropdown-content-s {display: block;}*/


/*Line layout*/
.line-pl {
    grid-column: 1 / span 3;
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 5px;
}


/*To adjust with and height*/
[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.33%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;}


@media only screen and (max-width: 1200px) {
    /* Intermediate display between desktop and tablet */
    .header2 {
        grid-column: 2 / span 2;
    }

    .artist-picture{
        grid-column: 1 / span 1;
    }
    
    .grid-container {
        grid-template-columns: 33% 33% 33%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 768px) {
    /* Display for tablet */
    .header2 {
        grid-column: 2 / span 1;
        justify-items: left;
    }

    .artist-picture{
        grid-column: 1 / span 1;
    }
    
    .grid-container {
        grid-template-columns: 50% 50%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 600px) {
    /* Display for mobile phones */
    .header2 {
        grid-column: 2 / span 1;
        left: 0;
    }

    .artist-picture{
        grid-column: 1 / span 1;
    }
    
    .grid-container {
        grid-template-columns: 50% 50%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 340px) {
    /* Display for mobile phones */
    .header2 {
        grid-column: 2 / span 1;
    }

    .artist-picture{
        grid-column: 1 / span 1;
    }
    
    .grid-container {
        grid-template-columns: 100%;
        padding-right: 2%;
    }
}