* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
    width: 100% !important;
}

body, html {
    /*background-color: #F0E9D2;*/
    /*background-image: url("img/fondo_log_in.jpg");*/
    background-color: #F0E9D2;
    width: 100%;
    height: 100%;
    margin: 0;
}

/*Header classes*/
.header {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: #056676;
    color: #ffffff;
}

.logo {
    height: 100%;
}

.logo_img{
    height: 100%;
    position: absolute;
    left: 10px;
    padding: 5px;
}

.title {
    font-size: 30px;
    text-align: center;
}


.flex-container {
    display: flex;
    color: #000000;
    background-color: #E6DDC4;
}
  
.sides {
    width: 25%;
    background-color: #F0E9D2;
    font-size: 30px;
}

.form-div {
    width: 25%;
    background-color: #E6DDC4;
    padding: 25px;

}  

#google_signup {
    display: flex;
    align-items: center;
    background: white;
    color: #444;
    width: 100%;
    border-radius: 8px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
    transition: 0.3s;
    }
  
  #google_signup img{
    float:left;
    height:30px;
    margin-right: 10px;
  }
  
  #google_signup:hover, #fb_signup:hover {
    cursor: pointer;
    transform: scale(1.1);
    }
  
  #fb_signup{
    display: flex;
    align-items: center;
    background: #1877F2;
    color: white;
    width: 100%;
    border-radius: 8px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px grey;
    transition: 0.3s;
  
  }
  #fb_signup img{
    float:left;
    height:30px;
  }


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.33%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;}


@media only screen and (max-width: 768px) {
    /* Display for mobile phones */
    
    .title{
        width: 50%;
    }
    .logo{
        width: 20%;
    }
    .sides {
        width: 0;
    }
    .form-div {
        width: 50%;
    }

    #fb_signup, #google_signup{
        width: 100%;
    }

    html {
        background-color: #E6DDC4;
    }
}