/*Code needed in all pages, moved to a general file to avoid duplicated code*/
* {
    box-sizing: border-box;
}

html {
    font-family: 'Arbutus Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 100% !important;
}

body, html {
    background-color: #F0E9D2;
    width: 100%;
    height: 100%;
    margin: 0;
}

.dark-mode {
    color: white;
    background-color: #19223b;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }

/*Header classes*/
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: #056676;
    color: #ffffff;
}

.logo {
    height: 100%;
}

.logo_img{
    height: 100%;
    position: absolute;
    left: 10px;
    padding: 5px;
}

.title {
    font-size: 32px;
}

#account, #login{
    padding-top: 5%;
}

.profile{
    left: 0;
    height: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile_pic{
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
}

.button{
    padding: 8px;
    margin-left: 6.5%;
    background-color: #5EAAA8;
    border-radius: 200px;
}

.button_sel{
    padding: 8px;
    margin-left: 6.5%;
    background-color: #377775;
    border-radius: 200px;
}

.button:hover {
    background-color: #377775;
}

/*Classes for the drop-down menu that appears when clicking on the profile picture*/
.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    position: relative;
    top:100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

/*Main page content*/

/* Classes for like button*/
#like1, #like2, #like3, #like4, #like5, #like6, #like7, #like8, #like9, #like10, #like11, #like12, #like13, #like14, #like15{
    cursor: pointer;
  }

#filled_like1, #filled_like2, #filled_like3, #filled_like4, #filled_like5, #filled_like6, #filled_like7, #filled_like8, #filled_like9, #filled_like10, #filled_like11, #filled_like12, #filled_like13, #filled_like14, #filled_like15{
    display: none;
    cursor: pointer;
    position: relative;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: left;
}
.grid2{  
    grid-template: 150px / auto;  
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto;
}

.grid-artist {
    left: 0;
    text-align: left;
    font-size: 30px;
    grid-column: 1 / span 5;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
  }

.song-name {
    display: grid;
    width: 100%;
    padding-top: 5%;
    justify-content: center;
}

.grid-song {
    position:relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-bottom: 10%;
}

.cover{
    width:150px; 
    height:150px;
}


.cover:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main {
    background-color: #E6DDC4;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

.header2{
    background-color: #F0E9D2;
    display: grid;
    grid-column: 1 / span 5;
    grid-template-columns: 20% 20% 20% 20% 20%;
    left: 0;
    text-align: left;
    font-size: 30px;
    grid-column: 1 / span 5;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.row{
    grid-column: 1 / span 5;
    padding: 2%;
}

.line{
    position: relative;
    width: 180px;
    margin: auto;
    border: 5px solid #056676;
}

.tag{
    margin-left: 1%;
    background-color: #5EAAA8;
    width: fit-content;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    color: white;
}

/*Footer content*/
.footer {
    /*display:none;*/
    position: fixed;
    bottom: 0;
    vertical-align: middle;
    background-color: #056676;
    color: #ffffff;
    text-align: center;
    z-index: 20;
}

/*To adjust with and height*/
[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.33%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;}


/*responsive part*/
@media only screen and (max-width: 1200px) {
    /* Intermediate display between desktop and tablet */
    .title{
        width: 49%;
    }
    .logo{
        width: 20%;
    }
    .empty_cont{
        width: 100%;
    }
    .grid-artist {
        grid-column: 1 / span 3;
    }
    
    .grid-container {
        grid-template-columns: 33% 33% 33%;
        padding-right: 2%;
    }  
}

@media only screen and (max-width: 768px) {
    /* Display for tablet */
    .title{
        width: 49%;
        left:0;
    }
    .logo{
        width: 20%;
    }
    .empty_cont{
        width: 90%;
    }
    .grid-artist {
        grid-column: 1 / span 2;
    }
    
    .grid-container {
        grid-template-columns: 50% 50%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 600px) {
    /* Display for mobile phones */
    [class*="col-"] {
        width: 100%;
    }
    [class*="row-"] {
        height:fit-content;
    }
    .footer, .header, .menu{
        position:static;
        bottom: 0;
    }
    .title{
        width: 49%;
    }
    .logo{
        width: 20%;
    }
    .logo_img{
        height: 50%;
        width: 50%;
        position:static;
        left: 10px;
        padding: 0;
    }
    .empty_cont{
        width: 0;
    }
    .grid-artist {
        grid-column: 1 / span 2;
    }
    
    .grid-container {
        grid-template-columns: 50% 50%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 340px) {
    /* Display for mobile phones */
    [class*="col-"] {
        width: 100%;
    }
    [class*="row-"] {
        height:fit-content;
    }
    .footer, .header, .menu{
        position:static;
        bottom: 0;
    }
    
    .title{
        width: 50%;
    }
    .logo{
        width: 20%;
    }
    .logo_img{
        height: 50%;
        width: 50%;
        position:static;
        left: 10px;
        padding: 0;
    }
    .empty_cont{
        width: 0;
    }
    .grid-artist {
        grid-column: 1 / span 1;
    }
    
    .grid-container {
        grid-template-columns: 100%;
        padding-right: 2%;
    }
}